In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("adult.csv")

In [3]:
display(df.head())

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.education.value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [5]:
df.workclass.value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [6]:
df.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [7]:
df.gender.value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

In [10]:
df = pd.concat([df.drop('occupation', axis=1),pd.get_dummies(df.occupation).add_prefix("occupation_")], axis=1)
df = pd.concat([df.drop('workclass', axis=1),pd.get_dummies(df.occupation).add_prefix("workclass_")], axis=1)
df = df.drop('education', axis=1)
df = pd.concat([df.drop('marital-status', axis=1),pd.get_dummies(df.occupation).add_prefix("martial-status_")], axis=1)
df = pd.concat([df.drop('relationship', axis=1),pd.get_dummies(df.occupation).add_prefix("relationship_")], axis=1)
df = pd.concat([df.drop('native-country', axis=1),pd.get_dummies(df.occupation).add_prefix("native-country_")], axis=1)
df = pd.concat([df.drop('race', axis=1),pd.get_dummies(df.occupation).add_prefix("race_")], axis=1)

KeyError: "['occupation'] not found in axis"

In [ ]:
df